.nav-bar {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  font-size: 1.5rem;
}

.nav-bar .active {
  color: #669999;
}

.nav-bar a {
  font-weight: bold;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

/* mobile */
@media (max-width: 600px) {
  .nav-bar {
    padding: 10px;
    font-size: 1rem;
  }

  .nav-bar a {
    margin-left: 8px;
    margin-right: 8px;
  }
}
