#notfoundcontainer {
  text-align: center;
  min-width: 100%;
  background-image: url("../../assets/images/notfound-bg.png");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
strong {
  font-style: italic;
  text-decoration: underline;
}
#notfoundtxt {
  padding-top: 100px;
}
